services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: pnogo
      POSTGRES_USER: pnogo
      POSTGRES_PASSWORD: pnogo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
